<div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large black">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating blue"><i class="fa fa-linkedin-square social-icon-small"></i></a></li>
      <li><a class="btn-floating black"><i class="fa fa-github social-icon-small"></i></a></li>
      <li><a class="btn-floating blue"><i class="fa fa-codepen social-icon-small"></i></a></li>
      <li><a class="btn-floating black"><i class="fa fa-fire social-icon-small"></i></a></li>
    </ul>
</div>