<div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large black">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a href="https://ca.linkedin.com/in/shahid-khan-35307b111" target="_blank" class="btn-floating blue"><i class="fa fa-linkedin-square social-icon-small"></i></a></li>
      <li><a href="https://github.com/shahidahmad" target="_blank" class="btn-floating black"><i class="fa fa-github social-icon-small"></i></a></li>
      <li><a href="http://www.shahidahmedkhan.info" target="_blank" class="btn-floating blue"><i class="fa fa-address-card social-icon-small"></i></a></li>
      <li><a href="https://www.freecodecamp.com/shahidahmad" target="_blank" class="btn-floating black"><i class="fa fa-fire social-icon-small"></i></a></li>
    </ul>
</div>