<!--
<footer class="page-footer grey">
      <div class="left-align">
        Made by Shahid Khan
      </div>
</footer>-->
<footer class="page-footer  blue lighten-1">
<!--          <div class="footer">-->
            <div class="container" style="padding-bottom: 20px;">
            Created by Shahid Khan
<!--            </div>-->
          </div>
        </footer>