<header>
    <div class="navbar-fixed">
        <nav >
            
            <div class="nav-wrapper blue" >
                <div class="row">
                <div class="col m2 offset-m1">
                <a href="/" class="brand-logo"><img src="/images/logo10.png" height=50></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>  
                <div class="col m10 offset-m1">
                <ul class="right hide-on-med-and-down" >
                    <div style="color:black;">
                    <li><a href="/" style="color:black;">Home</a></li>
                    <li><a href="/contact" style="color:black;">Contact</a></li>
                    <li><a class="dropdown-button" href="#!" style="color:black;" data-activates="dropdown1">Download<i class="material-icons right">arrow_drop_down</i></a></li>
                    </div>    
                </ul>
                </div>    
                </div>    
            
            </div>
        </nav>    
    </div>    
    <ul id="dropdown1" class="dropdown-content">
      <li class="blue"><a href="/ShahidKhan.pdf" target="_blank" style="color:black;">Download my resume</a></li>
    </ul>
    <ul class="side-nav blue" id="mobile-demo" style="background-color:black;">
        <li><a href="/">Home</a></li>
        <div class="divider" style="margin: 0px 0px;"></div>
        <li><a href="/contact">Contact me</a></li>
        <div class="divider" style="margin: 0px 0px;"></div>
        <li><a href="/ShahidKhan.pdf">Download my resume</a></li>
        <div class="divider" style="margin: 0px 0px;"></div>
      </ul>
</header>
