<!DOCTYPE html>
<html>
  <head>
      <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageId %>">
      <% include partials/template/header.ejs %>
<!--    ***************************************************************************************  -->
<div class="row">
   <div class="col m10 offset-m1">   
      <div class="about">
		<h3 style="text-decoration: underline;">About me</h3>
		<p>
			I, Shahid Khan, am a computer programmer living in Ottawa, Ontario. I have a bachelor’s degree in Information Technology and recently graduated from Computer 
			Programmer program, in April 2016, from The School of Advanced Technology – Algonquin College. I chose this program because it is all about learning how to 
			code - and I like playing around with code. 
			<br>
			Around 75 percent courses of the program focus on preparing its students: 
				<ul>
					<li>
						to have advanced knowledge in Object Oriented programming concepts
					</li>
					<li>
						to learn how to code in different popular programming languages
					</li> 
					<li>
						to have knowledge of advanced database topics and technologies
						</li>
					<li>
						to be skillful in solving complex problems by writing efficient code
					</li> 
					<li>
						to have the ability of self-teaching 
						themselves new programming languages and latest trends in the software development field.
					</li>
				</ul> 
			<br>
			Some of the skills and technologies that I have become confident in after graduating Computer Programmer program are: Java EE, JavaScript, PHP, Python, Perl, Bash, SQL, HTML, CSS, 
			advanced database topics. I am also comfortable working with different Relational Database Management Systems (RDBMS) such as Oracle 12c, MySQL, SQLServer etc.
			<br>
			<br>
			My motto is, <em> "Keep calm and never stop learning</em>."

		</p>
		<hr>
		<h3 style="text-decoration: underline;">
			About this website
		</h3>
		<p>This website is an outcome of Programming Language Research Project (PLRP) course that I took in the final semester of my Computer Programmer program at Algonquin College. 
			The PLRP course is about learning of a new programming language through self-study. A student taking the course has to choose a programming language that they have not learned yet in the college. 
			After choosing a programming language, they have to identify 
			a project that they will create using their choice. A completed project must demonstrate the use of concepts that have been set in the learning goals of the PLRP course. For instance, the 
			final version of this course’s project must demonstrate the use of variables (declaration, assignment, operators), memory management, decision structures, looping structures, 
			classes as well as method/functions, File IO, exception handling, use of API libraries, inheritance, database connectivity, data structures, algorithms etc.  
			In PLRP course, I chose to self-teach myself Python and the project that I wanted to do was to create a website that would serve as my online resume/profile. 
			<br/>
			The reasons for choosing Python were: 
		</p>
		<ul>
			<li>To increase the prospects of my employability</li>
			<li>It is easy to learning (or at least that was what they said)</li>
			<li>It has great online community and has a lot of easily-accessible online resources</li>
		</ul>
		<p>The reason for choosing to create a website using Python:</p>
		<ul>
			<li>The reason for choosing the project of creating a website in PLRP course, besides passing the course, was to have my own online platform where I could showcase my education, skills and experience.</li>
		</ul>
		<p>And last but not the least, the front end of the website is designed using HTML, CSS and a bit of JavaScript, while the backend is ALL Python.</p>
	</div>
      </div>
      </div>
      
<!--    ***************************************************************************************  -->      
       <% include partials/template/fixed_action_button.ejs %>
      <% include partials/template/footer.ejs %>
  </body>
</html>