<!DOCTYPE html>
<html>
  <head>
      <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageId %>">
      <% include partials/template/header.ejs %>
    <div class="container">
        <h3 class="center-align" style="margin-top:80px;">Shahid's resume</h3> 
        <h6 class="center-align">Shahid is a computer programmer and he wants to program for the rest of his life.</h6>
        
        <div class="divider" style="margin: 80px 0px;"></div>
          
        <div class="row">
            <div class="col m4 s12">
                <h4>About me</h4>
                <p>I am a recent graduate from a Computer Programmer program from Algonquin College, currently I am honing my coding skills by investing my time on websites such as freecodecamp.com, hackerrank.com etc. At the same time, I am looking for an opportunity in an organiztion where I could use my programming skills and have a steady professional growth by being an asset to it.</p>
            </div>
            <div class="col m4 s12">
                <img src="/images/shahid3.png" class="circle responsive-image" style="border: 10px solid; border-color: black;">
            </div>
            <div class="col m4 s12">
                <h4>Details</h4>
                <p>
                <strong>Name: </strong>
                <br>
                Shahid Khan
                <br>
                <br>
                <strong>Phone:</strong>
                <br>
                1 613 203 6457
                <br>
                <br>    
                <strong>Email:</strong>
                <br>
                shahidahmads1@gmail.com
                <br>
                <br>    
                <strong>Location: </strong>
                <br>    
                Ottawa, Ontario
                </p>    
                
            </div>
        </div> 
    </div>
    <div class="blue" style="width: 100%; padding-top:80px;">
       
        <div class="row">
            <div class="col s4 m4 offset-m4 offset-s4">
                <h4>Education</h4>
            </div>
         </div> 
        
        <div class="row">
            <div class="col s12 m6 offset-m1" style="font-weight:600;">
                Algonquin College, The School of Applied Arts and Technology
                <br>
                Ottawa, Ontario
            </div>
            <div class="col s12 m4 offset-m1 hide-on-small-only">
                Jan 2014 - April 2016
            </div>
        </div>
        <div class="row">
        
            <div class="col s12 m11 offset-m1">
                <h6><span style="font-size:20px; font-weight:600;">Computer Programmer</span>(Diploma)</h6>
                <h6>Graduated with honours - 3.84/4.00</6>
            </div>    
        </div>

        <div class="row" style="padding-top:20px;">
            <div class="col m11 s12 offset-m1" style="font-weight:600;">
                Institute of Business and Management Sciences, The University of Agriculture
                <br/>
                Peshawar, Pakistan
            </div>
            <div class="col m11 s12 offset-m1" style="">
                <h6>
                    <span style="font-size:19px; font-weight:600;">
                    Bachelor of Science in Information Technology 
                    </span>
                </h6>
                (BS-IT)
                <br>
                CGPA 3.22/4.00
            </div>
        </div>


        <div class="divider" style="color:black;"></div>
       
        <div class="row" style="margin-top:40px;">
            <div class="col s12 m12 center-align" style="font-size:28px; margin-bottom:40px;">
                Professional Certifications
            </div>
            <div class="col s12 m11 offset-m1">
                <span style="font-size:16px; font-weight:600;">
                    Cisco Certified Network Associate </span> - CCNA
                    <br>
                <span style="font-size:16px; font-weight:600;">
                    Oracle Certified Professional - Java Programmer </span> -- OCP-JP
                </span>
            </div>
        </div>
        <div class="divider" style="margin: 50px 0px;"></div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m12 center-align" style="font-size:28px;">
                Computer and Programming skills
            </div>
            <div class="col s12 m11 offset-m1" style="padding-top: 40px;">
              <span style="font-size:16px; font-weight:600;"> Programming languages:</span> Java EE, JavaScript, Python, C++, PHP, Perl, Bash, Expect
               <br>
              <span style="font-size:16px; font-weight:600;"> Database knowledge/DBMSs:</span> MySQL, MS SQLServer, Oracle, SQL
               <br>
               <span style="font-size:16px; font-weight:600;">Operating Systems: </span> Linux, Max OS X, MS Windows
               <br>
               <span style="font-size:16px; font-weight:600;">Other: </span>RESTful APIs, Django framework, Node.js, Express.js, Android programming, CSS, HTML, jQuery, AJAX, XML, MS Office
            </div>
        </div>

        <div class="divider" style="margin: 50px 0px;"></div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m12 center-align" style="font-size:28px;">
                Academic Projects
            </div>
        </div> 

        <div class="row">
            <div class="col s12 m11 offset-m1">
                <span style="font-size:20px; font-weight:600;"><i class="tiny material-icons">star</i> www.servicesoft.ca</span>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m11 offset-m1">
               Servicesoft.ca is a real-world online services portal. We worked on this project as a team in the ‘Software Development Project’ course of the Computer Programmer program at Algonquin College. Our job was to add new features and update few of the existing ones.
               <br/>         
               Technologies and tools we used while working on this project:<span style="font-size:16px; font-weight:600;"> PHP, JavaScript, SQL, HTML, CSS, JQuery, MySQL, Aptana Studio IDE.
               </span>
            </div>
        </div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m11 offset-m1">
                <span style="font-size:20px; font-weight:600;"><i class="tiny material-icons">star</i> www.shahidahmedkhan.info</span>
            </div>
        </div>

        <div class="row" >
            <div class="col s12 m11 offset-m1">
               This is another academic project that gives me confidence about my coding skills. Essentially this website was the final project of the ‘Programming Language and Research Project’ course in the last semester of my studies at Algonquin College. It serves as my online resume, as well as a means of contact. When visitors leave messages on the website they get delivered to my email inbox automatically and visitors also get acknowledgement by emails that their messages have been delivered.  
               <br/>         
               Technologies and tools I used in building this responsive-website: :<span style="font-size:16px; font-weight:600;"> Python, JavaScript, Django framework, SQLite, HTML, CSS, Aptana Studio IDE.
               <br/>
               This was my individual project, in other words the website is entirely my own creation.
               </span>
            </div>
        </div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m11 offset-m1">
                <span style="font-size:20px; font-weight:600;"><i class="tiny material-icons">star</i> Sprites, The Java EE application</span>
            </div>
        </div>

        <div class="row" >
            <div class="col s12 m11 offset-m1">
               Sprites is a Java EE application that can be accessed by multiple clients simultaneously.  Its client can be a desktop computer/laptop/cell phone/tablet with a web browser or the android application that has been structured specifically for an interaction with the Sprites app. 
                This was a team project in ‘Enterprise Application Programming’ course of my last semester at Algonquin College.  
               <br/>         
               Technologies and tools we used: <span style="font-size:16px; font-weight:600;"> Java EE, Android programming, RESTful APIs, MySQL, Glassfish server, NetBeans IDE, Android Studio IDE.
               </span>
            </div>
        </div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m11 offset-m1">
                <span style="font-size:20px; font-weight:600;"><i class="tiny material-icons">star</i> Multifunction Calculator, The android application</span>
            </div>
        </div>

        <div class="row" >
            <div class="col s12 m11 offset-m1">
              Multifunction Calculator is an android application that we developed as a team in the ‘Graphical Interface Programming’ course at Algonquin College. It is an application that has four sub applications: Carbon footprint calculator, Tip calculator, Time and Activity tracker, Contact list. 
               <br/>         
               Technologies and tools we used: <span style="font-size:16px; font-weight:600;"> Java, XML, SQLite, Android Studio IDE
               </span>
            </div>
        </div>

        <div class="divider" style="margin: 50px 0px;"></div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m12 center-align" style="font-size:28px;">
                Personal Projects
            </div>
        </div> 

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m11 offset-m1">
                <span style="font-size:20px; font-weight:600;"><i class="tiny material-icons">star</i> resume.shahidahmedkhan.info</span>
            </div>
        </div>

        <div class="row" >
            <div class="col s12 m11 offset-m1">
              This project was a learning experience. The reason for persuing this project was to learn Node.js and Express.js
               <br/>         
               Technologies and tools I used: <span style="font-size:16px; font-weight:600;"> HTML, JavaScript, Node.js, Express.js, Materialized CSS framework, Sublime text IDE.
               </span>
            </div>
        </div>

        <div class="divider" style="margin: 50px 0px;"></div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m12 center-align" style="font-size:28px;">
                Experience
            </div>
        </div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m5 offset-m1">
                <span style="font-size:20px; font-weight:600;">Alcatel-Lucent/Nokia</span>
            </div>

            <div class="col s12 m6">
                September 2015 - December 2015
            </div>

            <div class="col s12 m11 offset-m1" style="margin-top:20px;">
                <span style="font-size:18px; font-weight:600;"><i class="tiny material-icons">star</i> Customer Application Engineer</span>
            </div>

            <div class="col s12 m11 offset-m1" style="margin-top:10px;">
                <ul>
                    <li><i class="tiny material-icons">label</i> Created custom toolsets in programming languages such as PERL, Bash, Expect - for both internal and external consumption</li>
                    <li><i class="tiny material-icons">label</i> Supported customers to resolve their product support concerns</li>
                    <li><i class="tiny material-icons">label</i> Customer support included problem reproductions, code inspection, documentation updates, and direct work on customer networks</li>
                </ul> 
            </div>
        </div>        

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m5 offset-m1">
                <span style="font-size:20px; font-weight:600;">WalMart Canada</span>
            </div>

            <div class="col s12 m6">
                September 2014 - August 2015
            </div>
            <div class="col s12 m6 offset-m6" style="margin-top:0px;">
                April 2015 - Present
            </div>

            <div class="col s12 m11 offset-m1" style="margin-top:20px;">
                <span style="font-size:18px; font-weight:600;"><i class="tiny material-icons">star</i> Customer Application Engineer</span>
            </div>

            <div class="col s12 m11 offset-m1" style="margin-top:10px;">
                <ul>
                    <li><i class="tiny material-icons">label</i> Completing all tasks assigned by the supervisor</li>
                    <li><i class="tiny material-icons">label</i> Stocking shelves of the department assigned by the supervisor</li>
                    <li><i class="tiny material-icons">label</i> Providing a clean, stocked, well zoned department in a timely manner</li>
                    <li><i class="tiny material-icons">label</i> Maintaing a safe work area, free of excess debris and fixtures</li>
                </ul>
            </div>
        </div> 

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m5 offset-m1">
                <span style="font-size:20px; font-weight:600;">Esso Gas Station, Baseline road</span>
            </div>

            <div class="col s12 m6">
                July 2014 - Present
            </div>

            <div class="col s12 m11 offset-m1" style="margin-top:20px;">
                <span style="font-size:18px; font-weight:600;"><i class="tiny material-icons">star</i> Cashier</span>
            </div>

            <div class="col s12 m11 offset-m1" style="margin-top:10px;">
                <ul>
                    <li><i class="tiny material-icons">label</i> Providing excellent customer service by greeting all customers warmly</li>
                    <li><i class="tiny material-icons">label</i> Mainting excellent productivity level by operating cash register effiently forall sales</li>
                    <li><i class="tiny material-icons">label</i> Operating lotto/lottery terminal in an effective manner</li>
                    <li><i class="tiny material-icons">label</i> Using time managment principle to stock, organize, clean shelves/racks and coolers</li>
                </ul> 
            </div>
        </div> 

        <div class="divider" style="margin: 50px 0px;"></div>

        <div class="row" style="margin-top:40px;">
            <div class="col s12 m11 offset-m1">
                <span style="font-size:20px; font-weight:600;">Sports activities</span>
            </div>

            <div class="col s12 m11 offset-m1" style="margin-top:10px;">
                <ul>
                    <li><i class="tiny material-icons">label</i> Practitioner of Shotokan Karate</li>
                    <li><i class="tiny material-icons">label</i> Regular jogging</li>
                    <li><i class="tiny material-icons">label</i> Cricket enthusiast</li>
                </ul> 
            </div>
        </div>    

        <!-- <div class="divider" style="margin: 50px 0px;"></div> -->

        <div class="center-align" style="margin-bottom:40px; padding-bottom:40px;">
            <em><b>References available on request</b></em>
        </div>

    </div> 

    <% include partials/template/fixed_action_button.ejs %>
    <% include partials/template/footer.ejs %>
  </body>
</html>