<!DOCTYPE html>
<html>
  <head>
      <% include partials/template/head.ejs %>
  </head>
  <body id="<%= pageId %>">
      <% include partials/template/header.ejs %>
      <div class="row">
          <div class="col s10 m10 offset-m1 offset-s1">
              <div class="card blue darken-5">
                  <div class="card-content black-text"> 
                      <div> <!-- contact info -->
                          <div class="center-align">
                            <h4>Shahid Khan</h2>
                            <h6><i class="material-icons" style="font-size:16px;">email</i> <span class="right-align"><span>shahidahmads1@gmail.com</span></span></h6>
                            <h6><i class="material-icons" style="font-size:16px;">contact_phone</i> <span class="right-align"><span>+1 613 203 6457</span></span></h6>
                          </div>
                      </div> <!-- contact info -->  
                      
                      <div class="divider" style="margin: 50px 0px;"></div>
                      
                      <div> <!-- Education -->
                            <h5> Education </h5>
                                <div class="col m9 s9">
                                    <ul class="school">
                                        <li>
                                            <h6> Algonquin College, School of Advanced Technology</h6>
                                            <h6> Ottawa, ON</h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col m3 s3">	
                                    <h6> Jan 2014 - April 2016</h6>
                                </div> 
                                <div class="left col m10 s10 offset-m1 offset-s1">
                                    <ul>
                                        <li>
                                            <a href="http://www.algonquincollege.com/sat/program/computer-programmer/#courses">Computer Programmer</a> (Diploma)
                                        </li>
                                        <ul>
                                            <li>
                                                Graduated with honors, CGPA 3.84/4.00			
                                            </li>
                                        </ul>
                                    </ul>
                                </div> 
                                <br>
                                <div class="row">
                                    <ul class="col s12 m12" style="font-size: 1.5em;">
                                        <li>
                                            <h6> Institute of Business and Management Science, The University of Agriculture</h6>
                                            <h6> Peshawar, Pakistan</h6>
                                        </li>
                                    </ul>	
                                    <ul class="col m10 s10 offset-m1 offset-s1">
                                        <li>
                                            Bachelor of Science in Information Technology (BS-IT)
                                        </li>
                                        <ul>
                                            <li>
                                                CGPA 3.22/4.00			
                                            </li>
                                        </ul>
                                    </ul>
                                </div> 	
                      </div> <!-- Education -->
                        
                      <div class="divider" style="margin: 25px 0px;"></div>
                      
                      <div>
                            <h5> Professional certifications</h5>
                                <div class="row">
                                    <div class="col m10 s10 offset-m1 offset-s1">
                                        <ul>
                                            <li>Cisco Certified Networking Associate (CCNA)</li>
                                            <li>Oracle Certified Professional - Java Programmer (OCPJP)</li>
                                        </ul>
                                    </div>
                                </div>
                      </div><!-- Professional certifications -->
                      
                      <div class="divider" style="margin: 25px 0px;"></div>
                      
                      <div>
                             <h5> Programming and Computer skills </h5>
                                <div class="row">
                                    <ul class="col s11 m11 offset-m1 offset-s2">
                                        <li>Programming languages: Java EE, JavaScript, Python, C++, PHP, Perl, Bash, Expect</li>
                                        <li>Database knowledge/DBMSs: MySQL, MS SQLServer, Oracle, SQL</li>
                                        <li>Operating Systems: Linux, Max OS X, MS Windows</li>
                                        <li>Other: RESTful APIs, Django framework, Android programming, CSS, HTML, jQuery, AJAX, XML, MS Office</li>
                                    </ul>
                                </div>
                      </div> <!-- Programming and computer skills -->
                      
                      <div class="divider" style="margin: 25px 0px;"></div>
                      
                      <div>
                        <h5>Personal projects</h5>  
                        <h5 style="font-size:1.3em;">profile.shahidahmedkhan.info</h5>
                        <p>Loerem Ipsum bla bla bla</p>
                      </div> <!-- Personal Projects -->
                      
                      <div class="divider" style="margin: 25px 0px;"></div>
                      
                      <div>
                            <ul>
                                <li>
                                    <h5><a target="_blank" href="http://www.servicesoft.ca">www.servicesoft.ca</a></h5>
                                    <span>
                                        Servicesoft.ca is a real-world online services portal. We worked on this project as a team in the ‘Software Development Project’ course of the Computer Programmer program at Algonquin College. Our job was to add new features and update few of the existing ones.
                                        <br/> 
                                        Technologies and tools we used while working on this project: PHP, JavaScript, SQL, HTML, CSS, JQuery, MySQL, Aptana Studio IDE.
                                    </span>
                                    <hr/>
                                </li>
                                <li>
                                    <h5>www.shahidahmedkhan.info</h5>
                                        <span>
                                        This is another academic project that gives me confidence about my coding skills. Essentially this website was the final project of the ‘Programming Language and Research Project’ course in the last semester of my studies at Algonquin College. It serves as my online resume, as well as a means of contact. When visitors leave messages on the website they get delivered to my email inbox automatically and visitors also get acknowledgement by emails that their messages have been delivered.  
                                        <br/>
                                        Technologies and tools I used in building this responsive-website: Python, JavaScript, Django framework, SQLite, HTML, CSS, Aptana Studio IDE.
                                        <br>
                                        This was my individual project, in other words the website is entirely my own creation.
                                        </span>
                                    <hr/>
                                </li>
                                <li>
                                    <h5>Sprites, The Java EE application</h5>
                                    <span>
                                    Sprites is a Java EE application that can be accessed by multiple clients simultaneously.  Its client can be a desktop computer/laptop/cell phone/tablet with a web browser or the android application that has been structured specifically for an interaction with the Sprites app. 
        This was a team project in ‘Enterprise Application Programming’ course of my last semester at Algonquin College.
                                    <br/>
                                    Technologies and tools we used: Java EE, Android programming, RESTful APIs, MySQL, Glassfish server, NetBeans IDE, Android Studio IDE. 
                                    <hr/>
                                    </span>
                                </li>
                                <li>

                                    <h5>Multifunction Calculator, The android application</h5>

                                        <span>
                                        Multifunction Calculator is an android application that we developed as a team in the ‘Graphical Interface Programming’ course at Algonquin College. It is an application that has four sub applications: Carbon footprint calculator, Tip calculator, Time and Activity tracker, Contact list. 
                                        <br/>
                                        Programming languages and tools we used: Java, XML, SQL, SQLite, Android Studio IDE
                                        </span>


                                </li>
                            </ul>
                      </div> <!-- academic projects -->
                      
                      <div class="divider" style="margin: 25px 0px;"></div>
                      
                      <div>
                            <h5>Experience</h5>
                                <br>
                                <h5>Nokia, Kanata</h5>
                                <h6>Sep 2015 - Dec 2015</h6>
                                
                                <br/>
                                <div>Customer Application Engineer</div>
                                <div>
                                    <ul>
                                        <li>Created custom toolsets in programming languages such as PERL, Bash, Expect - for both internal and external consumption</li>
                                        <li>Supported customers to resolve their product support concerns</li>
                                        <li>Customer support included problem reproductions, code inspection, documentation updates, and direct work on customer networks</li>
                                    </ul> 
                                </div>
                                <br>
                          
                                <h5>Esso Gas Station, Baseline road</h5>
                                <h6>Jul 2014 - Present</h6>
                                
                                <br>
                                <div>Cashier</div>
                                <div>
                                    <ul>
                                        <li>Providing excellent customer service by greeting all customers warmly</li>
                                        <li>Mainting excellent productivity level by operating cash register effiently forall sales</li>
                                        <li>Operating lotto/lottery terminal in an effective manner</li>
                                        <li>Using time managment principle to stock, organize, clean shelves/racks and coolers</li>
                                    </ul>
                                </div>
                                
                                <br>
                          
                                <h5>Wal-Mart - Centrum, Kanata</h5>
                                <h6 >Apr 2016 - Present</h6>
                                <h6>Sep 2014 - Aug 2015</h6>
                                
                                <br>
                                <div>Overnight Stocker</div>
                                <div>
                                    <ul>
                                        <li>Completing all tasks assigned by the supervisor</li>
                                        <li>Stocking shelves of the department assigned by the supervisor</li>
                                        <li>Providing a clean, stocked, well zoned department in a timely manner</li>
                                        <li>Maintaing a safe work area, free of excess debris and fixtures</li>
                                    </ul>
                                </div>
                      </div> <!-- experience -->
                      
                      <div class="divider" style="margin: 25px 0px;"></div>
                      
                      <div>
                            <h5>Sports activites</h5>    
                                <ul>
                                    <li>Practitioner of Shotokan-karate</li>
                                    <li>Regular jogging</li>
                                    <li>Cricket enthusiast</li>
                                </ul>
                     </div>
                      
                      
                    <div class="center-align">
                        <em>References available on request</em>
                    </div>
                  </div>
              </div>
          </div>
      </div>
       <% include partials/template/fixed_action_button.ejs %>
      <% include partials/template/footer.ejs %>
  </body>
</html>   